# Dependencies
node_modules/

# Build output
dist/

# Environment variables — KHÔNG bao giờ commit file này!
.env

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

minlish-frontend/
